.container li {
  margin-top: 0.5em;
}
.container .breadcrumb li {
  margin-top: 0;
}

.container img {
  max-width: 100%;
}

.spoiler {
  background-color: #000;
  color: #000;
  cursor: pointer;
}
.spoiler:hover {
  background-color: #eee;
  cursor: pointer;
}
