.container li {
  margin-top: 0.5em;
}
.container .breadcrumb li {
  margin-top: 0;
}

.container img {
  margin-left: 15%;
  max-width: 70%;
  margin-right: 15%;
}

.spoiler {
  background-color: #000;
  color: #000;
  cursor: pointer;
}
.spoiler:hover {
  background-color: #eee;
  cursor: pointer;
}

blockquote p:first-child {
  margin-top: 0;
}
