---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div id="main" class="container">

  {% unless page.hide-breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="/">{{site.short-title}}</a> </li>
      {% assign crumbs = page.url | split: '/' %}
      {% for crumb in crumbs offset:1 %}
        <li {% if forloop.last %}class="active"{% endif %}>
          {% unless forloop.last %}
            <a href="/{% for crumb in crumbs offset:1 limit:forloop.index %}{{crumb}}/{% endfor %}">
              {{ crumb | capitalize }}
            </a>
          {% else %}
            {{ crumb | capitalize }}
          {% endunless %}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
